/* .open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.neucha-regular {
  font-family: "Neucha", serif;
  font-weight: 400;
  font-style: normal;
} */


h1 {
  font-family: "Neucha", sans-serif;
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h1, h2, h3 {
  line-height: 1.2em;
}

p {
  font-family: open-sans;
  font-size: 16px;
  line-height: 1.6em;
}